.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;

  .content {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 420px;
    background-color: pink;
  }
}